{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}

    <!--Load the AJAX API-->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"/>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Set chart options
            var options = {'width': 100,
                'height': 100,
                legend: 'none',
                slices: {
                    0: { color: 'green' },
                    1: { color: 'blue' },
                    2: { color: 'yellow' },
                    3: { color: 'red'},
                    4: { color: "darkblue"},
                    5: { color: "darkred"},
                    6: { color: "gray"},
                }};

            $(".status_fig").each(function (i) {
                var node = this;
                var title = $(node).attr("title");
                if (title) {
                    var status = JSON.parse(title);

                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'State');
                    data.addColumn('number', 'Count');

                    var total = 0;
                    for (s in status) {
                        total += status[s];
                    }

                    $(["COMPLETED", "SUBMITTED", "STARTED", "FAILED", "READY", "KILLED"]).each(function (i, s) {

                        var c = status[s];
                        if (c === undefined) {
                            c = 0;
                        }
                        data.addRow([s, c]);
                        total -= c;
                    })
                    data.addRow(["Other", total])


                    var chart = new google.visualization.PieChart(node);
                    chart.draw(data, options);
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <form class="form-inline">
        <div class="form-group">
            <label for="archive_name">View</label>

            <select id="archive_name" name="archive_name" class="form-control">
                {% for this_archive_name in archive_names %}
                    <option value="{{ this_archive_name }}" {% if archive_name == this_archive_name %}
                            selected {% endif %} >{{ this_archive_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="config_name">with projection</label>


            <select id="config_name" name="config_name" class="form-control">
                <option value="">None</option>
                {% for name in config_names %}
                    <option {% if config_name == name %} selected {% endif %} value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" value="Apply" class="btn">

        {% for tag in current_filter_tags %}
            <input type="hidden" name="tag" value="{{ tag }}">
        {% endfor %}
    </form>

    <form class="form-inline">
        {% if current_filter_tags|length > 0 %}
            Applied filters
            <ul>
                {% for tag in current_filter_tags %}
                    <input type="hidden" name="tag" value="{{ tag }}">
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            <p></p><a href="/job-dashboard">Reset filters</a></p>
        {% endif %}

        <div class="form-group">
            <label for="tag">Add filter</label>

            <select id="tag" name="tag" class="form-control">
                {% for tag in tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" value="Add" class="btn">
        <input type="hidden" name="config_name" value="{{ config_name }}">
        <input type="hidden" name="archive_name" value="{{ archive_name }}">
    </form>

    {% if hidden_tags|length >0 %}
        Hidden: {% for tag in hidden_tags %} <button class="btn">{{ tag }} <span class="glyphicon glyphicon-remove"></span></button> {% endfor %}
    {% endif %}

    {% if config_name != "" %}
        <h1>Jobs in "{{ config_name }}"</h1>
    {% else %}
        <h1>All Jobs</h1>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            {% for k, v in fixed_values %}
                <th>
                    {{ k }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for k, v in fixed_values %}
                <td>
                    {{ v }}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <button id="archive-selected" class="btn">Archive</button>
    <button id="kill-selected" class="btn">Kill</button>
    <button id="retry-selected" class="btn">Retry</button>
    <button id="mem-override-selected" class="btn">Override</button>
    <button id="set-tags-selected" class="btn">Set Tag</button>

    <table class="table">
        <thead>
        <tr>
            <th>
                <input id="select-all-jobs" type="checkbox">
            </th>
            <th>
                Job name
            </th>
            <th>
                <!-- re-run -->
            </th>
            {% if archive_name == None %}
                <th>
                    State
                </th>
            {% endif %}
            {% for c in column_names %}
                <th>
                    {{ c }}
                </th>
            {% endfor %}
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for j in jobs %}
            <tr>
                <td>
                    <input class="job-selection" type="checkbox" id="job-{{ j.name }}">
                </td>
                <td>
                    {% if j.name != None %}
                        <a class="job-name-link" href="/run/{{ j.name }}">{{ j.name }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if j.parameters.parameter_hash %}
                        <a href="/submit-batch-job-form?parameter_hash={{ j.parameters.parameter_hash }}"
                           class="btn"><span class="glyphicon glyphicon-repeat"></span></a>
                    {% else %}
                        <a href="/submit-batch-job-form?config_defs={{ j|job_json_params }}"
                           class="btn"><span class="glyphicon glyphicon-play-circle"></span></a>
                    {% endif %}
                </td>
                {% if archive_name == None %}
                    <td>
                        {% if not (j.status == None) %}
                            <div style="width:100; height:100" class="status_fig" title='{{ j.status|tojson }}'></div>
                        {% endif %}
                    </td>
                {% endif %}
                {% for c in column_names %}
                    <td>
                        {{ j.parameters[c] }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>{{ jobs|length }} jobs shown</p>

    <!-- hidden form for retry jobs -->
    <form action="/retry-jobs" method="POST" id="retry-jobs-form">
        <input type="hidden" value="" name="job-ids" id="retry-job-ids">
    </form>

    <!-- hidden form for killing jobs -->
    <form action="/kill-jobs" method="POST" id="kill-jobs-form">
        <input type="hidden" value="" name="job-ids" id="kill-job-ids">
    </form>

    <!-- Archive dialog -->
    <div class="modal fade" id="modal-archive-dialog" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="/archive-jobs" method="POST">
                <input type="hidden" value="" name="job-ids" id="archive-job-ids">

                <div class="modal-content">
                    <div class="modal-body">

                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="destination" class="col-sm-7 control-label">Name of directory</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="destination" id="destination"
                                           placeholder="(example: braf-analysis)">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Archive</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Set tag dialog -->
    <div class="modal fade" id="modal-set-tag-dialog" tabindex="-1" role="dialog"
         aria-labelledby="set-tag-overrideModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="/job-set-tag" method="POST">
                <input type="hidden" value="" name="job-ids" id="set-tags-job-ids">

                <div class="modal-content">
                    <div class="modal-body">

                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="tagname" class="col-sm-7 control-label">Property name</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="tag" id="tagname"
                                           placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tagvalue" class="col-sm-7 control-label">Property value</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="value" id="tagvalue"
                                           placeholder="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Set</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Memory override dialog -->
    <div class="modal fade" id="modal-mem-override-dialog" tabindex="-1" role="dialog"
         aria-labelledby="mem-overrideModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="/job-set-mem-override" method="POST">
                <input type="hidden" value="" name="job-ids" id="mem-override-job-ids">

                <div class="modal-content">
                    <div class="modal-body">

                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="destination" class="col-sm-7 control-label">New memory limit in MB</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="mem-limit" id="mem-limit"
                                           placeholder="(example: 1000)">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Set</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            // install select-all handler on checkbox
            $("#select-all-jobs").on("click", function () {
                console.log("select-all-jobs");
                var isChecked = $(this).is(":checked")
                $(".job-selection").prop("checked", isChecked)
            });

            var getJobSelectionJson = function () {
                var job_id_list = [];
                $(".job-selection").each(function () {
                    if ($(this).is(":checked")) {
                        job_id_list.push(this.id.substring(4));
                    }
                });
                return JSON.stringify(job_id_list);
            }

            $(".job-name-link").on("click", function () {
            });

            $("#kill-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#kill-job-ids").prop("value", job_id_list_json);
                $("#kill-jobs-form").submit();
            });

            $("#retry-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#retry-job-ids").prop("value", job_id_list_json);
                $("#retry-jobs-form").submit();
            });

            var archiveDialog = $("#modal-archive-dialog");
            $("#archive-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#archive-job-ids").prop("value", job_id_list_json);
                archiveDialog.modal("show");
            });

            var memOverrideDialog = $("#modal-mem-override-dialog");
            $("#mem-override-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#mem-override-job-ids").prop("value", job_id_list_json);
                memOverrideDialog.modal("show");
            });

            var setTagDialog = $("#modal-set-tag-dialog");
            $("#set-tags-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#set-tags-job-ids").prop("value", job_id_list_json);
                setTagDialog.modal("show");
            });

        });
    </script>
{% endblock %}

