{% extends "base.html" %}

{% block title %}Run {{ run_dir }}{% endblock %}

{% block content %}
  <h3><a href="/list-run-files/{{ run_name }}"><span class="glyphicon glyphicon-folder-open"></span> View all files in run</a></h3>

  <h3>Tasks for run {{ run_dir }}</h3>

  <table class="table">
    <thead>
      <tr>
        <th>
            Task
        </th>

        <th>
            Size
        </th>

        <th>
            Profile
        </th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>
            <a href="/list-run-files/{{ run_name }}/{{ task.task_dir }}">{{ task.task_dir }}</a>
        </td>
        <td>
            {{ task.status }}
        </td>

        <td>
            <a href="/show-task-profile/{{ run_name }}/{{ task.task_dir }}">Profile</a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

