{% extends "base.html" %}

{% block title %}Instances{% endblock %}

{% block content %}

  <h1>Jobs in queue: {{ jobs_in_queue }}</h1>

  <h2>Volumes</h2>
  <table class="table">
    <thead>
      <tr><th>Name</th><th>Free</th><th>minutesUntilExhaustion</th></tr>
    </thead>
    <tbody>
      {% for v in volumes %}
      <tr>
      	<td>
      	  {{ v.name }}
      	</td>
      	<td>
      	  {{ v.free | format_disk_space }}
      	</td>
      	<td>
      	  {% if v.minutesUntilExhaustion %}
      	  {{ v.minutesUntilExhaustion | format_minutes }}
      	  {% endif %}
      	</td>
      </tr>
      {% endfor %}
     </tbody>
   </table>

  <table class="table">
    <thead>
      <tr>
        <th>
          Name
        </th>

          <th>
              Num Procs
          </th>
        <th>
          Load Avg
        </th>

        <th>
            Jobs
        </th>

        <th>
            % memory used
        </th>
      </tr>
    </thead>

    <tbody>
      {% for host in hosts %}
        <tr>
            <td>{{ host.name }}</td>
            <td>{{ host.num_proc }}</td>
            <td>{{ host.load_avg }}</td>
            <td>{{ host.jobs }}</td>
            <td>
                {% if host.mem_used and host.mem_total %}
                {{ "%.1f%%" % (100 * host.mem_used / host.mem_total) }}
                {% endif %}
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

