{% extends "base.html" %}
{% block title %}Submit{% endblock %}
{% block content %}

    <form class="form-horizontal" role="form" method="post" action="/set-monitor-parameters">
        <div class="form-group">
            <label for="is_paused" class="col-sm-3 control-label">Is paused</label>

            <div class="col-sm-3">
                <input type="checkbox" class="form-control" id="is_paused" name="is_paused" {% if param.is_paused %} checked {% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="spot_bid" class="col-sm-3 control-label">Max price per cpu-hour</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="spot_bid" name="spot_bid" value="{{ param.spot_bid }}">
            </div>
        </div>

        <div class="form-group">
            <label for="max_to_add" class="col-sm-3 control-label">max_to_add</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="max_to_add" name="max_to_add"
                       value="{{ param.max_to_add }}">
            </div>
        </div>

        <div class="form-group">
            <label for="time_per_job" class="col-sm-3 control-label">time_per_job</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="time_per_job" name="time_per_job"
                       value="{{ param.time_per_job }}">
            </div>
        </div>

        <div class="form-group">
            <label for="time_to_add_servers_fixed" class="col-sm-3 control-label">time_to_add_servers_fixed</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="time_to_add_servers_fixed" name="time_to_add_servers_fixed"
                       value="{{ param.time_to_add_servers_fixed }}">
            </div>
        </div>

        <div class="form-group">
            <label for="time_to_add_servers_per_server"
                   class="col-sm-3 control-label">time_to_add_servers_per_server</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="time_to_add_servers_per_server"
                       name="time_to_add_servers_per_server" value="{{ param.time_to_add_servers_per_server }}">
            </div>
        </div>

        <div class="form-group">
            <label for="instance_type" class="col-sm-3 control-label">instance_type</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="instance_type" name="instance_type"
                       value="{{ param.instance_type }}">
            </div>
        </div>

        <div class="form-group">
            <label for="domain" class="col-sm-3 control-label">domain</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="domain" name="domain" value="{{ param.domain }}">
            </div>
        </div>

        <div class="form-group">
            <label for="jobs_per_server" class="col-sm-3 control-label">jobs_per_server</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="jobs_per_server" name="jobs_per_server"
                       value="{{ param.jobs_per_server }}">
            </div>
        </div>

        <div class="form-group">
            <label for="max_instances" class="col-sm-3 control-label">max_instances</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="max_instances" name="max_instances"
                       value="{{ param.max_instances }}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button name="submit" type="submit" class="btn btn-default">Update</button>
            </div>
        </div>



    </form>

{% endblock %}
