{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <form>
        Project runs into configuration space:
        <select name="config_name">
            <option value="">None</option>
        {% for name in config_names %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Project">

        {% for tag in current_filter_tags %}
            <input type="hidden" name="tag" value="{{ tag }}">
        {% endfor %}
    </form>

    <form>
        {% if current_filter_tags|length > 0 %}
            Applied filters
            <ul>
                {% for tag in current_filter_tags %}
                    <input type="hidden" name="tag" value="{{ tag }}">
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            <p></p><a href="/job-dashboard">Reset filters</a></p>
        {% endif %}
        Add filter
        <select name="tag">
        {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Add">
        <input type="hidden" name="config_name" value="{{ config_name }}">
    </form>

    {% if config_name != "" %}
        <h1>Jobs in "{{ config_name }}"</h1>
    {% else %}
        <h1>All Jobs</h1>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            {% for k, v in fixed_values %}
                <th>
                    {{ k }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for k, v in fixed_values %}
                <td>
                    {{ v }}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <button id="archive-selected">Archive</button>
    <button id="kill-selected">Kill</button>
    <button id="retry-selected">Retry</button>

    <table class="table">
        <thead>
        <tr>
            <th>
                <input id="select-all-jobs" type="checkbox">
            </th>
            <th>
                Job name
            </th>
            <th>
                State
            </th>
            {% for c in column_names %}
                <th>
                    {{ c }}
                </th>
            {% endfor %}
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for j in jobs %}
            <tr>
                <td>
                    <input class="job-selection" type="checkbox" id="job-{{ j.name }}">
                </td>
                <td>
                    {{ j.name }}
                </td>
                <td>
                    {{ j.status }}
                </td>
                {% for c in column_names %}
                    <td>
                        {{ j.parameters[c] }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- hidden form for retry jobs -->
    <form action="/retry-jobs" method="POST" id="retry-jobs-form">
        <input type="hidden" value="" name="job-ids" id="retry-job-ids">
    </form>

    <!-- hidden form for killing jobs -->
    <form action="/kill-jobs" method="POST" id="kill-jobs-form">
        <input type="hidden" value="" name="job-ids" id="kill-job-ids">
    </form>

    <!-- Archive dialog -->
    <div class="modal fade" id="modal-pull-dialog" tabindex="-1" role="dialog" aria-labelledby="pullModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="/archive-jobs" method="POST">
                <input type="hidden" value="" name="job-ids" id="archive-job-ids">

                <div class="modal-content">
                    <div class="modal-body">

                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="destination" class="col-sm-7 control-label">Name of directory</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="destination" id="destination"
                                           placeholder="(example: braf-analysis)">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Archive</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Memory override dialog -->
    <div class="modal fade" id="modal-mem-override-dialog" tabindex="-1" role="dialog" aria-labelledby="pullModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="/job-set-mem-override" method="POST">
                <input type="hidden" value="" name="job-ids" id="mem-override-job-ids">

                <div class="modal-content">
                    <div class="modal-body">

                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="destination" class="col-sm-7 control-label">New memory limit in MB</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="mem-limit" id="mem-limit"
                                           placeholder="(example: 1000)">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Set</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            // install select-all handler on checkbox
            $("#select-all-jobs").on("click", function () {
                console.log("select-all-jobs");
                var isChecked = $(this).is(":checked")
                $(".job-selection").prop("checked", isChecked)
            });

            var getJobSelectionJson = function () {
                var job_id_list = [];
                $(".job-selection").each(function () {
                    if ($(this).is(":checked")) {
                        job_id_list.push(this.id.substring(4));
                    }
                });
                return JSON.stringify(job_id_list);
            }

            $("#kill-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#kill-job-ids").prop("value", job_id_list_json);
                $("#kill-jobs-form").submit();
            });

            $("#retry-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#retry-job-ids").prop("value", job_id_list_json);
                $("#retry-jobs-form").submit();
            });

            var archiveDialog = $("#modal-archive-dialog");
            $("#archive-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#archive-job-ids").prop("value", job_id_list_json);
                archiveDialog.modal("show");
            });

            var memOverrideDialog = $("#modal-mem-override-dialog");
            $("#mem-override-selected").on("click", function () {
                var job_id_list_json = getJobSelectionJson()
                $("#mem-override-job-ids").prop("value", job_id_list_json);
                memOverrideDialog.modal("show");
            });
        });
    </script>
{% endblock %}

