{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <h1>Job directories</h1>

  <table class="table">
    <thead>
      <tr>
        <th>
          Job name
        </th>
        {% for c in column_names %}
            <th>
            {{ c }}
            </th>
        {% endfor %}
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
      </tr>
    </thead>
    <tbody>
      {% for j in jobs %}
      <tr>
        <td>
          {{ j.job_name }}
        </td>
        {% for c in column_names %}
            <td>
            {{ j[c] }}
            </td>
        {% endfor %}
        <td>
          <a href="/check-job?job={{ j.job_name }}">Check</a>
        </td>
        <td>
          <a href="/poll-job?job={{ j.job_name }}">Poll</a>
        </td>
        <td>
          <a href="/retry-job?job={{ j.job_name }}">Retry</a>
        </td>
        <td>
          <a href="/kill-job?job={{ j.job_name }}">Kill</a>
        </td>
        <td>
          <a href="/pull-job?job={{ j.job_name }}">Pull</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

