{% extends "base.html" %}
{% block title %}Terminal{% endblock %}
{% block content %}
<h1>{% if terminal.is_running %}<img id="spinner" src="/static/spinner_30x30.gif">{% endif %}{{ terminal.title }} [<span id="status">{{ terminal.status }}</span>]</h1>

<pre id="screen-buffer"></pre>

{% endblock %}

{% block scripts %}

<script>
$(document).ready(function() {
  var terminal_id = "{{ terminal.id }}";

  (function worker() {
    $.get('/terminal-json/'+terminal_id, function(data) {
      $('#screen-buffer').text(data.screen);
      $('#status').text(data.status);
      if(!data.is_running) {
        $('#spinner').hide()
      }
      setTimeout(worker, 2500);
    });
  })();

});
</script>

{% endblock %}
