{% extends "base.html" %}

{% block title %}Instances{% endblock %}

{% block content %}

  <h1>Active instances</h1>

  <form action="/instance-action">

  <table class="table">
    <thead>
      <tr>
        <th>
            <input type="checkbox">
        </th>

        <th>
          ID
        </th>

        <th>
          instance type
        </th>

        <th>
            Tags
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in instances %}
      <tr>
        <td>
            <input type="checkbox" name="instance-id" value="{{ i.id }}">
        </td>
        <td>
          {{ i.id }}
        </td>
        <td>
          {{ i.instance_type }}
        </td>
        <td>
          {{ i.tags }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </form>
{% endblock %}


{% block scripts %}
<script>
</script>
{% endblock %}
