{% extends "base.html" %}
{% block title %}Terminal{% endblock %}
{% block content %}
<h1>{{ terminal.title }} [<span id="status">{{ terminal.status }}</span>]</h1>

<pre id="screen-buffer"></pre>

{% endblock %}

{% block scripts %}

<script>
$(document).ready(function() {
  var terminal_id = "{{ terminal.id }}";

  (function worker() {
    console.log("calling fetch");
    $.get('/terminal-json/'+terminal_id, function(data) {
      console.log("got result", data);
      $('#screen-buffer').text(data['screen']);
      $('#status').text(data['status']);
      setTimeout(worker, 5000);
    });
  })();

});
</script>

{% endblock %}
